<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="/"/>
    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="Firefox" />-->   
    <!--<add key="browser" value="Edge" />-->   
    <add key="browser" value="Chrome"/>
    <add key="longTimeout" value="30"/>
    <add key="mediumTimeout" value="10"/>
    <add key="shortTimeout" value="3"/>
    <add key="ImplicitlyWaitMilliseconds" value="200"/>
    <!--User credentials-->
    <add key="username" value="null"/>
    <add key="password" value="null"/>
    <!--Screenshots and logging-->
    <add key="ScreenShotFolder" value="ScreenShots"/>
    <add key="JavaScriptErrorLogging" value="true"/>
    <!--JavaScript errors type to be search on browser logs-->
    <add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property" />
    <!--Enable or disable synchronization with AngularJS, can be also set in source code this.Driver.SynchronizeWithAngular(true);-->
    <add key="SynchronizationWithAngularEnabled" value="false"/>
    
  </appSettings>
  
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
 autoReload="true"
 throwExceptions="false"
 internalLogLevel="Off"
 internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\Test.log" layout="${longdate}|${level}|${callsite}|${message}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
    </rules>
  </nlog> -->
  
   <FirefoxPreferences>
     <add key="PreferenceToBeOverride" value="NewValue" />
  </FirefoxPreferences>
  <FirefoxExtensions>
   >add key="FirefoxPluginName.xpi" value=""/
  </FirefoxExtensions>
  <FirefoxArguments>
    <add key="FirefoxArgument" value=""/>
  </FirefoxArguments>
  <ChromePreferences>
   add key="PreferenceToBeOverride" value="NewValue" /
  </ChromePreferences>
  <ChromeExtensions>
   >add key="ChromePluginName.crx" value=""/
  </ChromeExtensions>
  <DriverCapabilities>
    <add key="CapabilityName" value=""/>
  </DriverCapabilities>
  <ChromeArguments>
    <add key="ChromeArgument" value=""/>
  </ChromeArguments>
  <InternetExplorerPreferences>
    <add key="InternetExplorerArgument" value=""/>
  </InternetExplorerPreferences>
 
</configuration>